* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: aqua;
}

.calculator {
    width: 350px;
    height: 550px;
    background-color: white;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,  0, 0, 0.19);
}